<%= form_for @comorbidity, :html => { :class => 'comorbidity' } do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <% if @comorbidity.errors.any? %>
        <div class="alert alert-danger">
          <strong>Woah there!</strong> Take care of these:

          <ul>
            <% @comorbidity.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :name, :class => 'width-120' %></span>
          <%= f.text_field :name, :class => 'form-control', :placeholder => 'Enter a name' %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :beginning_age, :class => 'width-120' %></span>
          <%= f.number_field :beginning_age, :class => 'form-control', :placeholder => 0 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :slope, :class => 'width-120' %></span>
          <%= f.number_field :slope, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :exponent, 'Slope Exponent', :class => 'width-120' %></span>
          <%= f.number_field :exponent, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :vertical_offset, :class => 'width-120' %></span>
          <%= f.number_field :vertical_offset, :class => 'form-control', :placeholder => 0 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :male_risk, :class => 'width-120' %></span>
          <%= f.number_field :male_risk, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :female_risk, :class => 'width-120' %></span>
          <%= f.number_field :female_risk, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :smoking, :class => 'width-120' %></span>
          <%= f.number_field :smoking, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :diabetes, :class => 'width-120' %></span>
          <%= f.number_field :diabetes, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :hypertension, :class => 'width-120' %></span>
          <%= f.number_field :hypertension, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon left"><%= f.label :hyperlipidemia, :class => 'width-120' %></span>
          <%= f.number_field :hyperlipidemia, :class => 'form-control', :placeholder => 1 %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', comorbidities_path %>
      </div>
    </div>
  </div>
<% end %>
