<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comorbidity.name %>
</p>

<p>
  <strong>Male:</strong>
  <%= @comorbidity.male %>
</p>

<p>
  <strong>Female:</strong>
  <%= @comorbidity.female %>
</p>

<p>
  <strong>Freq in 10s:</strong>
  <%= @comorbidity.freq_in_10s %>
</p>

<p>
  <strong>Freq in 20s:</strong>
  <%= @comorbidity.freq_in_20s %>
</p>

<p>
  <strong>Freq in 30s:</strong>
  <%= @comorbidity.freq_in_30s %>
</p>

<p>
  <strong>Freq in 40s:</strong>
  <%= @comorbidity.freq_in_40s %>
</p>

<p>
  <strong>Freq in 50s:</strong>
  <%= @comorbidity.freq_in_50s %>
</p>

<p>
  <strong>Freq in 60s:</strong>
  <%= @comorbidity.freq_in_60s %>
</p>

<p>
  <strong>Freq in 70s:</strong>
  <%= @comorbidity.freq_in_70s %>
</p>

<p>
  <strong>Freq in 80s:</strong>
  <%= @comorbidity.freq_in_80s %>
</p>

<p>
  <strong>Freq in 90s:</strong>
  <%= @comorbidity.freq_in_90s %>
</p>

<%= link_to 'Edit', edit_comorbidity_path(@comorbidity) %> |
<%= link_to 'Back', comorbidities_path %>
